html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
.gradient-text {
  background: linear-gradient(to right, #4f46e5, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
